@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

a {
  color: white;
}

a:hover {
  color: yellow;
}

s {
  color: gray;
}

.game {
  margin: 6px 6px 30px 6px;
}

.game img { /* make game images responsive */
  width: 100%;
  height: auto;
}

.game p {
  margin: 0 0 10px 0;
}

.game-discount-percent {
  /*font-size: 1.2em;*/
  padding: 2px 7px 2px 7px;
  float: left;
  background: #3BBA4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3BBA4D, #1C5C3D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3BBA4D, #1C5C3D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3BBA4D, #1C5C3D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3BBA4D, #1C5C3D); /* Standard syntax */
}

.game-pricing {
  float: right;
}

md-sidenav  {
  width: 225px;
  height: 100%;
  padding: 20px;

  background: #3BBA4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3BBA4D, #1C5C3D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3BBA4D, #1C5C3D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3BBA4D, #1C5C3D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3BBA4D, #1C5C3D); /* Standard syntax */
}

md-sidenav a {
  font-size: 1.1em;
}

md-content {
  color: white;
  background-color: #222222;
  height: 100%;
  padding: 20px;
}
