@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
}

a:hover {
  color: #3BBA4D;
}

s {
  color: gray;
}

.normal-weight {
  font-weight: 400;
}

.game {
  margin: 6px 6px 30px 6px;
}

.game img { /* make game images responsive */
  max-width: 100%;
  height: auto;
}

.game p {
  margin: 0 0 10px 0;
}

.game-discount-percent {
  /*font-size: 1.2em;*/
  padding: 2px 7px 2px 7px;
  float: left;
  background: #3BBA4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3BBA4D, #1C5C3D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3BBA4D, #1C5C3D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3BBA4D, #1C5C3D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3BBA4D, #1C5C3D); /* Standard syntax */
}

.game-show-discount-percent {
  /*font-size: 1.2em;*/
  padding: 2px 7px 2px 7px;
  margin-right: 3px;
  background: #3BBA4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3BBA4D, #1C5C3D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3BBA4D, #1C5C3D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3BBA4D, #1C5C3D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3BBA4D, #1C5C3D); /* Standard syntax */
}

.game-pricing {
  float: right;
}

.game-show-pricing {
  font-size: 1.1em;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

.screenshot {
  max-width: 100%;
  height: auto;
}

.screenshot-container {
  /*margin: 3px;*/
  margin: 2px 5px 2px 5px;
}

.game-secondary-text {
  color: #999999;
}

.game-secondary-text i {
  margin: 0 3px 0 3px;
}

.md-button {
  border: 1px solid white;
  min-width: 44px;
  margin-left: 0;
}

.md-button:hover {
  color: #3BBA4D;
  border-color: #3BBA4D;
}

/* ngIf animation - http://embed.plnkr.co/UXwpSZpoAVE6nPBziGpo/preview */
.animationIf.ng-enter { /* , .animationIf.ng-leave */
  -webkit-transition: opacity ease-in-out .3s;
  -moz-transition: opacity ease-in-out .3s;
  -ms-transition: opacity ease-in-out .3s;
  -o-transition: opacity ease-in-out .3s;
  transition: opacity ease-in-out .3s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

md-sidenav  {
  width: 250px;
  height: 100%;
  /*padding: 20px;*/
  padding-top: 20px;

  background: #3BBA4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3BBA4D, #1C5C3D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3BBA4D, #1C5C3D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3BBA4D, #1C5C3D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3BBA4D, #1C5C3D); /* Standard syntax */
}

md-sidenav h2 {
  font-size: 1.1em;
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
}

md-sidenav div.sidenav-content a {
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: black;
  padding: 5px 50px 5px 50px;
}

md-sidenav div.sidenav-content a:hover {
  background-color: #161616;
}

md-sidenav div.sidenav-content a.active {
  color: black;
  background-color: white;
}

md-sidenav div.sidenav-content a.active:hover {
  color: black;
  background-color: none;
}

.nav-black-spacer {
  background-color: black;
  height: 5px;
}

.sidenav-content {
  flex: 1 0 auto;
}

.sidenav-footer {
  /*background-color: white;*/
  color: #CCCCCC;
  padding: 5px 15px 5px 15px;
  text-align: center;
}

.sidenav-footer p {
  font-size: .8em;
  margin: 0;
}

.sidenav-footer p#notice {
  font-size: .6em;
}

.sidenav-footer a {
  color: #CCCCCC;
}

.sidenav-footer a:hover {
  color: #3BBA4D;
}

md-content {
  color: white;
  background-color: #222222;
  background-image: url("../img/bg01.png");
  background-repeat: repeat;
  height: 100%;
  padding: 20px;
}
