<h1>{{ ctrl.game.name }}</h1>
<img ng-src="{{ ctrl.game.header_image }}" class="image-responsive">
<p class="game-show-pricing" ng-if="ctrl.game.price_overview.final > 0">
  <span class="game-show-discount-percent" ng-if="ctrl.game.price_overview.discount_percent">-{{ ctrl.game.price_overview.discount_percent }}%</span>
  <span><strong>{{ ctrl.game.price_overview.final / 100 | currency : "$" : 2 }}</strong> <s ng-if="ctrl.game.price_overview.discount_percent">{{ ctrl.game.price_overview.initial / 100 | currency : "$" : 2  }}</s></span>
</p>
<p><md-button ng-href="http://store.steampowered.com/app/{{ ctrl.game.steam_appid }}" target="_blank">View on Steam Store</md-button></p>
<p ng-if="!ctrl.showDetailedDescription" ng-bind-html="ctrl.shortDescription" class="animationIf"></p>
<p ng-if="ctrl.showDetailedDescription" ng-bind-html="ctrl.detailedDescription" class="animationIf"></p>
<p><md-button ng-click="ctrl.toggleDetailedDescription()" aria-label="Toggle detailed description"><span ng-if="!ctrl.showDetailedDescription">Read More</span><span ng-if="ctrl.showDetailedDescription">Show Less</span></md-button></p>

<div ng-if="ctrl.game.screenshots.length > 0">
  <h2>Screenshots</h2>
  <section layout-fill layout="column">
    <div ng-repeat="row in ctrl.screenshotGrid" flex layout="row">
      <div ng-repeat="screenshot in row" class="screenshot-container"><a ng-href="{{ screenshot.path_full}}" target="_blank"><img ng-src="{{ screenshot.path_thumbnail }}" class="screenshot"></a></div>
    </div>
  </section>
</div>

<p class="game-secondary-text"><strong>Release Date:</strong> {{ ctrl.game.release_date.date }}
</br><strong>Platforms:</strong> <i class="fa fa-windows" aria-hidden="true" title="Windows" ng-if="ctrl.game.platforms.windows"></i><i class="fa fa-apple" aria-hidden="true" title="Mac" ng-if="ctrl.game.platforms.mac"></i><i class="fa fa-linux" aria-hidden="true" title="Linux + SteamOS" ng-if="ctrl.game.platforms.linux"></i></p>

<p class="game-secondary-text"><strong>Developer:</strong> {{ ctrl.getDevelopers() }}
</br><strong>Publisher:</strong> {{ ctrl.getPublishers() }}</p>

<p class="game-secondary-text"><strong>Categories:</strong> {{ ctrl.getCategories() }}
</br><strong>Genres:</strong> {{ ctrl.getGenres() }}</p>
